<table class="table table-bordered">
	
	<head>
		<tr> 
			<td>#</td><td>Name</td><td>Date</td><td>Time</td>
		</tr>
	</head>
		
		<tr>
			<td>1</td><td>Katrine</td><td>22.03.2017</td><td>15:20</td>
	
		</tr>
</table>

<form action="/visit" method="post">
  
  <div class="form-group">
    <label>Your name</label>
    <input type="text" class="form-control" placeholder="Your name" name="username">
  </div>

  <button type="submit" class="btn btn-success">Записаться</button>

</form>
