<table class="table table-bordered">
	<head>
		<tr> 
			<td>#</td><td>Name</td><td>Date</td><td>Time</td>
		</tr>
	</head>
		<tr>
			<td>1</td><td>Katrine</td><td>22.03.2017</td><td>15:20</td>
		</tr>
</table>

<button type="button" class="btn btn-success">Добавить пользователя</button>