<head>
	
		<!-- add string  mouseEnterLeaveActions(TAG or ID here);  -->
	<script type="text/javascript">

		$(function(){
			mouseEnterLeaveActions("label");
			mouseEnterLeaveActions("input");
			mouseEnterLeaveActions("td");
			mouseEnterLeaveActions("select");
		});

	</script>
</head>


<table class="table table-bordered">
	
	<head>
		<tr> 
			<td>#</td><td>Name</td><td>Date</td><td>Time</td>
		</tr>
	</head>
		
		<tr>
			<td>1</td><td>Katrine</td><td>22.03.2017</td><td>15:20</td>
	
		</tr>
</table>

<form class="form-inline" action="/appointment" method="post">
  

  <div class="form-group has-success col-xs-2">
    <label>Your name</label>
    <input id="name" type="text" class="form-control" placeholder="Enter your name here" name="username">
  </div><br><br><br><br>
  
  <div class="form-group has-warning col-xs-2">
    <label>Your phone</label>
    <input type="text" class="form-control" placeholder="8-999-XXX-XX-XX" name="phone">
  </div><br><br><br><br>

  <div class="form-group col-xs-2">
    <label>Desirable time to appoint</label>
    <input type="text" class="form-control" placeholder="Desirable time here" name="time">
  </div><br><br><br><br><br>

  <div class="form-group col-xs-4">
    <label>Select performer: </label>
	<select class="form-control" name="performer" placeholder="Select performer">
		<option>Ilya</option>
    </select>
  </div><br><br><br>

  <button type="submit" class="btn btn-success" name="enroll">Enroll</button>

   <p><%= @message %></p>

</form>
