


<table class="table table-bordered">
	
	<head>
		<tr> 
			<td>#</td><td>Name</td><td>Date</td><td>Time</td>
		</tr>
	</head>
		
		<tr>
			<td>1</td><td>Katrine</td><td>22.03.2017</td><td>15:20</td>
	
		</tr>
</table>

<form action="/appointment" method="post">
  
  <div class="form-group">
    <label>Your name</label>
    <input id="name" type="text" class="form-control" placeholder="Enter your name here" name="username">
  </div>

  <div class="form-group">
    <label>Your phone</label>
    <input type="text" class="form-control" placeholder="8-999-XXX-XX-XX" name="phone">
  </div>

  <div class="form-group">
    <label>Desirable time to appoint</label>
    <input type="text" class="form-control" placeholder="Desirable time here" name="time">
  </div>  

  	<label>Select performer</label>
	<select class="form-control" name="performer" placeholder="Select performer">
		<option>Ilya</option>
	</select>

	<br>
  <button type="submit" class="btn btn-success" name="enroll">Enroll</button>

   <p><%= @message %></p>

</form>

<script>
$( "input" )
	.on( "mouseenter", function() {
		$( this ).css('background-color','lightgreen');
	})
		.on( "mouseleave", function() {
		$( this ).css('background-color','white',;
	});
</script>
