<h3>Как добраться:</h3>
<p>Мы проживаем по адресу Ленинские горы, дом 1, корпус В. Здесь Вас встретят.</p>
<p>Вы можете оставить нам сообщение, или передать свой e-mail или номер телефона в форме ниже, чтоб мы могли с вами связаться.</p>

<form action="/contacts" method="post">
  
  <div class="form-group">
    <label>Your e-mail or phone number</label>
    <input type="text" class="form-control" placeholder="Enter your name here" name="email" value="<%=@email%>">
  </div>
	
	<textarea class="form-control" rows="5" placeholder="Message here." name="message"><%= @message %></textarea>
	<br>
  <button type="submit" class="btn btn-success" name="enroll">Enroll</button>

</form>

<p><%= @push_notification %></p>

<script>
$( "p" ).on( "mouseover", function() {
  $( this ).css( "color", "red" );
});
</script>